:root {
    --primary-color: #134e58;
    --secondary-color: #BBC795;
    --accent1-color: #BC8034;
    --accent2-color: #077187;
    --heading-font: "Poetsen One", sans-serif;
    --paragraph-font: "Inter", sans-serif;
    --nav-background-color: var(--secondary-color);
    --nav-link-color: #000;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: var(--primary-color);
  }

body {
    font-family: var(--paragraph-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #2eb6a4;
}

marker {
  display: list-item;
  unicode-bidi: isolate;
}

header {
    padding: 20px;
    background-color: #b2eb97;
}

.color-paragraph {
  background-color: #b2eb97;
  color: var(--white);
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }

